<app-live-session-analysis [sessionvalue]="liveSession"></app-live-session-analysis>
<br/>
<app-filter-session-stats *ngIf='filterByPair' [filtersessionvalue]="filtersessionvalue"></app-filter-session-stats>
<br/>
<mat-card  class="session-card">
  <mat-card-content>
      <google-chart [data]="plHistGoogleChart"></google-chart>
  </mat-card-content>
</mat-card>
<br/>
<mat-card  class="session-card">
  <mat-card-content>
      <google-chart [data]="lengthHistGoogleChart"></google-chart>
  </mat-card-content>
</mat-card>
<br/>
<mat-card  class="session-card">
  <mat-card-content>
      <google-chart [data]="pLByPairHistogramChart"></google-chart>
  </mat-card-content>
</mat-card>
<br/>
<mat-card  class="session-card">
  <mat-card-content>
      <google-chart [data]="balanceHistoryChart"></google-chart>
  </mat-card-content>
</mat-card>
<br/>
<br/>
<mat-card  class="session-card">
  <mat-card-content>
      <google-chart [data]="profitHistoryChart"></google-chart>
  </mat-card-content>
</mat-card>
<br/>
<mat-card  class="session-card">
  <mat-card-content>
      <google-chart [data]="openTradeHistoryChart"></google-chart>
  </mat-card-content>
</mat-card>
<br/>
<mat-card  class="session-card">
  <mat-card-content>
      <google-chart [data]="countPLByPairChart"></google-chart>
  </mat-card-content>
</mat-card>
