<app-live-session-analysis [sessionvalue]="liveSession"></app-live-session-analysis>
<br/>
<mat-card  class="session-card">
  <mat-card-content>
      <google-chart [data]="plHistGoogleChart"></google-chart>
  </mat-card-content>
</mat-card>
<br/>
<mat-card  class="session-card">
  <mat-card-content>
      <google-chart [data]="lengthHistGoogleChart"></google-chart>
  </mat-card-content>
</mat-card>
<br/>
<mat-card  class="session-card">
  <mat-card-content>
      <google-chart [data]="pLByPairHistogramChart"></google-chart>
  </mat-card-content>
</mat-card>
<br/>
<mat-card  class="session-card">
  <mat-card-content>
      <google-chart [data]="balanceHistoryChart"></google-chart>
  </mat-card-content>
</mat-card>
<br/>
<mat-card  class="session-card">
  <mat-card-content>
      <google-chart [data]="countPLByPairChart"></google-chart>
  </mat-card-content>
</mat-card>
